body{
    font-family: 'Slabo 27px', serif;
}
#skills{
    padding: 480px 0;
}
.height{
    min-height: 100vh;
}
.height-80{
    min-height: 80vh;
}
.title-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
}
.about-pic{
    background: url(../img/bg-about.jpg);
    /* background: url(../img/bg.jpeg)center/cover no-repeat fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}